* {
  font-family: Arial;
  background-color: whitesmoke;
}

html {
  scroll-behavior: smooth;
}

#container {
  margin-top: 20px;
  margin-bottom: 25px;
}

#image {
  width: 88%;
  height: 150px;
  margin: 5px 0;
}

h2 {
  font-size: 20px;
  color: blue;
}

h3 {
  font-size: 13px;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  * {
    text-align: left;
  }
  .column {
    width: 50%;
  }
  #image {
    height: 220px;
    margin: 50 0px;
  }
}

@media screen and (max-width: 720px) {
  * {
    text-align: left;
  }
  .column {
    width: 100%;
  }

  #image {
    height: 180px;
    margin: 10px 0;
  }
}

@media screen and (max-width: 420px) {
  * {
    text-align: center;
  }
  #container {
    flex-direction: column;
  }

  #image {
    height: 150px;
    padding: 5px;
  }
}
